<html>
<head>
    <title>BL</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light p-0">
        <div class="container-fluid p-0">
            <a class="navbar-brand" href="#"><img src="/assets/i/logo.png" alt="logo" height="150" width="150"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Сеанси</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
{{> body}}
</main>
</body>
</html>